<!DOCTYPE html>
<html>
<head>
    <title>FashionHub</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<nav>
    <h1>FashionHub</h1>

    <div>
        <a href="login.html">Login</a>
        <a href="signup.html">Sign Up</a>
    </div>
</nav>

<section class="hero">

    <h1>Welcome to FashionHub</h1>

    <p>
        Discover the latest trends and premium fashion.
    </p>

    <a href="login.html">
        <button>Get Started</button>
    </a>

</section>

</body>
</html>